.container{
    height: 10000px;
    width: 100%;
    background-color: white;
}
.header1{
    position: fixed;
    height: 120px; 
}
h5{
    height: 30px;
    width: 100%;
    background-color: rgb(186, 214, 86);
    color: white;
    word-spacing: 5px;
    position: fixed;
    padding-top: 0px;
    font-size: 15px;
}
h2{
    height: 70px;
    width: 100%;
    background-color: rgb(253, 254, 254);
    padding-top: 40px;   
}
h2 ul li{
    list-style-type: none;
    display: inline;
    padding-left: 130px;
    
}
h2 ul li a{
    
    text-decoration: none;
    
}
.header2{
    height: 500px;
    width: 80%;
    background-image: url(images/p2.jfif);
    background-size: cover;
    padding-top: 280px;
    padding-left: 20%;
    border-radius: 10px;
    
}
.h1{
    height: 300px;
    width: 60%;
    align-self:center;
    background-color:rgba(255, 255, 255, 0.947);
    border-radius: 20px;
    text-align: center;
    margin-left: 30px;

}
p{
    text-align: center;
    font-size: 20px;
    padding-top: 40px;
    color: rgba(35, 179, 24, 0.858);
}
h4{
    font-size: 40px;
    padding-bottom: 25px;
}
button{
    border-radius: 10px;
    height: 30px;
    background-color: rgb(160, 248, 28);
    color: white;
    border: 0cap;
}

.header3{
    height: 200px;
    width: 100%;
    background-color: white;    
}
.para1{
    height: 200px;
    width: 400px;
    background-color: aqua;
    background-image: url(images/pic3.jpg);
    background-size: cover;
    border-radius: 20px;
    margin-left: 20px;
    text-align: right;    
    
}

.para2{
    height: 200px;
    width: 400px;
    background-color: rgb(242, 0, 255);
    background-image: url(images/pic6.webp);
    border-radius: 20px;
    background-size: cover;
    margin-left: 500px;
    margin-top: -220px;
    
}
.space2{
    height: 200px;
    width: 100%;
    background-color: white;
}
.nav{
    color: black;
    text-align: left;
    font-size: 15px; 
    line-height: normal;
}
.s1{
    height: 2px;
    width: 100%;
    background-color: blue;
}
.section2{
    height: 100px;
    width: 100%;
    padding-top: 100px;

    
}
.section2 button{
    background-color: rgb(149, 243, 50);
    color: rgb(158, 38, 38);
    margin-left: 70px;

}

.para3{
    height: 200px;
    width: 200px;
    background-image: url(images/p5.png);
    background-size: cover;
    border-radius: 20px;
    margin-left: 20px;
}
.section2 h3{
    margin-left: 70px;
}
.para4{
    height: 200px;
    width: 200px;
    background-image: url(images/p1.png);
    background-size: cover;
    border-radius: 20px;
    margin-left: 300px;
    margin-top:-300px ;

}
.para4 button{
    height: 35px;
    width: 100px;
    background-color: rgb(149, 243, 50);
    color: rgb(158, 38, 38);
    text-align: center;
    margin-left: 45px;
    margin-top: 200px;

}
.para4 h3{
    margin-left: 45px;
}
.para5{
    height: 200px;
    width: 200px;
    background-image: url(images/p3.png);
    background-size: cover;
    border-radius: 20px;
    margin-left: 550px;
    margin-top:-200px ;

}
.para5 button{
    height: 35px;
    width: 100px;
    background-color: rgb(149, 243, 50);
    color: rgb(158, 38, 38);
    text-align: center;
    margin-left: 45px;
    margin-top: 200px;

}
.para5 h3{
    margin-left: 45px;
}
.para6{
    height: 200px;
    width: 200px;
    background-image: url(images/p4.png);
    background-size: cover;
    border-radius: 20px;
    margin-left: 800px;
    margin-top:-200px ;

}
.para6 button{
    height: 35px;
    width: 100px;
    background-color: rgb(149, 243, 50);
    color: rgb(158, 38, 38);
    text-align: center;
    margin-left: 45px;
    margin-top: 200px;

}
.para6 h3{
    margin-left: 45px;
}
.nav1{
    height: 70px;
    width: 100%;
    background-color: rgb(235, 249, 249);
    color: black;
    text-align: left;
    font-size: 15px; 
    line-height: normal;
    
}
.s2{
    height: 2px;
    width: 100%;
    background-color: blue;
}

.para7{
    height: 200px;
    width: 200px;
    background-image: url(images/p6.png);
    background-size: cover;
    border-radius: 20px;
    margin-left: 50px;

}
.para7 button{
    height: 35px;
    width: 100px;
    background-color: rgb(149, 243, 50);
    color: rgb(158, 38, 38);
    text-align: center;
    margin-left: 45px;
    margin-top: 200px;

}
.para7 h3{
    margin-left: 45px;
}
.para8{
    height: 200px;
    width: 200px;
    background-image: url(images/p7.png);
    background-size: cover;
    border-radius: 20px;
    margin-left: 300px;
    margin-top:-200px ;

}
.para8 button{
    height: 35px;
    width: 100px;
    background-color: rgb(149, 243, 50);
    color: rgb(158, 38, 38);
    text-align: center;
    margin-left: 45px;
    margin-top: 200px;

}
.para8 h3{
    margin-left: 45px;
}
.para9{
    height: 200px;
    width: 200px;
    background-image: url(images/p8.png);
    background-size: cover;
    border-radius: 20px;
    margin-left: 550px;
    margin-top:-200px ;

}
.para9 button{
    height: 35px;
    width: 100px;
    background-color: rgb(149, 243, 50);
    color: rgb(158, 38, 38);
    text-align: center;
    margin-left: 45px;
    margin-top: 200px;

}
.para9 h3{
    margin-left: 45px;
}
.para10{
    height: 200px;
    width: 200px;
    background-image: url(images/p9.png);
    background-size: cover;
    border-radius: 20px;
    margin-left: 800px;
    margin-top:-200px ;

}
.para10 button{
    height: 35px;
    width: 100px;
    background-color: rgb(149, 243, 50);
    color: rgb(158, 38, 38);
    text-align: center;
    margin-left: 45px;
    margin-top: 200px;

}
.para10 h3{
    margin-left: 45px;
}
.space4{
    height: 300px;
    width: 100%;
    background-color: white;
}
.header4{
    height: 500px;
    width: 100%;
    background-image: url(images/p11.jpg);
    background-size: cover;
    
    
}
.header4 h2{
    background-color: none;
    text-align: center;
    color: white;

}
.header4 h4{
    text-align: center;
    color: white;
    padding-top: 100px;
    
}
.header4 h1{
    text-align: center;
    color: white;
    padding-top: -30px;
}
.header4 p{
    text-align: center;
    color: white;
}
.header5{
    height: 300px;
    width: 100%;
    text-align: center;
    margin-left: 180px;
    padding-top: 50px;
}
.header6{
    height: 500px;
    width: 100%;
    
}
.header6 h3 {
    height:500px ;
    width: 40%;
    
}
.header6  p{
    text-align: left;
    color: black;
}
.nav2{
    height: 100px;
    width: 100%;
    background-color:whitesmoke;
}
.nav2 h3{
    padding-left: 20px;
    padding-top: 20px;
    font-size: 20px;
}
.nav2 button{
    width: 60px;
}
.nav2 input{
    border-radius: 10px;
    margin-left: 100px;
    height: 30px;
    width: 2k20px;
}
.section3{
    height: 200px;
    width: 100%;

}
.section3 h3{
    margin-right: 60px;
}
.section4{
    height: 1400px;
    width: 100%;
}
.p1{
    height: 200px;
    width: 200px;
    background-image: url(images/p15.jpg);
    background-size: cover;
    border-radius: 20px;
    margin-left: 60px;
    
}
.p2{
    height: 200px;
    width: 200px;
    background-image: url(images/p16.jpg);
    background-size: cover;
    margin-left: 310px;
    margin-top: -200px;
    border-radius: 20px;
}
.p3{
    height: 200px;
    width: 200px;
    background-image:url(images/p17.jpg);
    background-size: cover;
    margin-left:600px ;
    margin-top: -200px;
    border-radius: 20px;

}
.p4{
    height: 200px;
    width: 200px;
    background-image: url(images/p18.jpg);
    background-size: cover;
    border-radius: 20px;
    margin-left: 60px;
    margin-top: 60px;
    
}
.p5{
    height: 200px;
    width: 200px;
    background-image: url(images/p19.jpg);
    background-size: cover;
    margin-left: 310px;
    margin-top:-200px;
    border-radius: 20px;
}
.p6{
    height: 200px;
    width: 200px;
    background-image: url(images/p20.jpg);
    background-size: cover;
    margin-left: 600px;
    margin-top: -200px;
    border-radius: 20px;

}
.section4 button{
    
    margin-left: 350px;
    margin-top: 50px;
}
.section5{
    height: 400px;
    width: 100%;
    background-color: yellowgreen;
    color: white;
    margin-top: 50px;
    
}
.section5 .h2 ul {
    margin-left:50px;
    display: inline;
}
.section5 .h2 ul a{
    text-decoration: none;
    padding-left: 40px;
    color: white;
    margin-right: 0px;
    padding-top: 60px;
    
}
.section5 p{
    text-align: left;
    color: white;
}



















